

body{
    margin:0;
    padding:30px 0;
    font-family:Arial, sans-serif;
    background:linear-gradient(135deg,#1e3c72,#2a5298);
    align-items:center;
}



.container{

width:600px;

background:white;

padding:35px;

border-radius:15px;

margin:30px auto;

box-shadow:0 10px 25px rgba(0,0,0,0.3);

}

input,select{

width:100%;

padding:12px;

margin:8px 0;

border-radius:8px;

border:1px solid gray;

font-size:16px;

}

button{

width:100%;

padding:15px;

font-size:18px;

background:#1976d2;

color:white;

border:none;

border-radius:10px;

cursor:pointer;

margin-top:20px;

}

button:hover{

background:#1565c0;

}

h1{

color:#1e3c72;

}

h2{

color:#555;

}
label{

font-weight:bold;

font-size:17px;

display:block;

margin-top:12px;

color:#1e3c72;

}

input,
select{

width:100%;

padding:12px;

margin-top:6px;

margin-bottom:15px;

font-size:16px;

border-radius:8px;

border:1px solid #bbb;

box-sizing:border-box;

}